.main{
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 4rem 8fr 2fr;
}

.components{
  grid-area: 2/1/4/2;
}
.components .unit{
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.components .unit:hover{
  background-color: rgb(185, 185, 185);
}
.components .shape{
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
}

.display{
  grid-area: 2/2/3/3;
  display: flex;
}
.display .info{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(160, 160, 218);
}
.display .structure{
  width: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.display .structure p{
  margin: 0.5rem 0;
}
.display .structure button{
  margin: 0.5rem 0;
}

.config{
  grid-area: 3/2/4/3;
  background-color: pink;
}
.config .wrapper{
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 50%;
}