.container{
  grid-area: 1/1/2/3;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container button{
  height: 50%;
  padding: 0.2rem 0.8rem;
  text-align: center;
  background-color: #f35933;
  color: white;
  font-weight: 500;
  border: none;
}
